.container{
	background-color: #363B3B;
	color: white;
}

.logo img{
	width: 100%;
}

h1{
	color: yellow;
	text-align: center;
}

.detail{
	text-align: center;
}

.row {
	margin-top: 20px;
}

.footer{
	padding: 10px 0;
	background-color: #879494;
}

.icon{
	text-align: center;
}

.icon a{
	padding: 0 5px;
}